@import "../../styles/theme.scss";

.contact {
  width:100%;
  background-color: white;
  .contact-placeholder {
    width: 100%;
    margin-top: 100px;
    color: #999898;
    font-size: 40px;
    text-align: center;
  }

  .right-container {
    display: flex;
  }

  .value {
    margin-right: 10px;
  }

  .at-icon {
    display: block;
  }

  .checkbox-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .contact-checkbox-confirm {
    width: 80px;
  }

}
