@import "../../styles/theme.scss";
.extend-container {
 
  .content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    word-break: break-all;
  }

  .switch {
    color: $baseColor;
    margin-top: 10px;
    display: inline-block;
  }
}