{
  "extends": [
    "taro",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "eqeqeq": "error",
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "space-before-function-paren": ["error", "never"],
    "keyword-spacing": ["error", { "overrides": {
      "if": { "before": true, "after": false },
      "for": { "after": false },
      "while": { "after": false }
    } }],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false, "arraysInObjects": false }],
    "comma-dangle": ["error", "always-multiline"],
    "comma-style": ["error", "last"],
    "func-call-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "no-console": "warn",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "@typescript-eslint/member-delimiter-style": {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "none",
        "requireLast": false
      }
    },
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": ["allow"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error", "never"],
    "taro/this-props-function": 0,
    "import/prefer-default-export": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
