@import "../../styles/theme.scss";

page {
  height: 100%;
  overflow: hidden;
}
.container {
  height: 100%;
  .scrollContainer {
    height: 100%;
  }
  .empty {
    font-size: 36px;
    text-align: center;
    margin-top: 200px;
    color: $fontGray;
  }
}

