.wrapperList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .listItem {
    margin-top: 10px;
    width: calc(50% - 5PX);

    &:nth-child(even) {
      margin-left: 10PX;
    }
  }
  .noProduct {
    height: 100%;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

