.wrapperList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;

  .listItem {
    margin-top: 20px;
    width: calc(50% - 5PX);

    &:nth-child(even) {
      margin-left: 10PX;
    }
  }
  .noProduct {
    height: 100%;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

