@import "../../../../styles/theme.scss";

.add-contact {
  position: relative;

  .type-label {
    font-size: 32px;
    color: #101010;
  }

  .type {
    display: flex;
    margin: 0 20px;
    align-items: center;

    .type-radio {
      width: 90%;
    }
  }

  .label {
    margin: 0 20px;
  }

  .content {
    margin: 0 20px;
  }

  .save_btn {
    margin-top: 20px;
  }

  .at-input__title {
    width: 80px;
  }
}
