@import "../../../../styles/theme.scss";

.my-exchange-list {
  padding-top: 40px;

  .list-title {
    padding-left: 35px;
    border-left: solid 10px $baseColor;

    Text {
      font-size: 28px;
    }
  }

  .list-wrapper {
    padding-top: 40px;

    .list-item {
      display: flex;
      margin-bottom: 40px;

      image {
        width: 250px;
        height: 250px;
        margin-right: 30px;
        border-radius: 20px;
      }
      .item-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          height: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          /*! autoprefixer: off */
        }
        .info {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;

          .price {
            color: red;
            font-size: 36px;
            &:before {
              content: "¥";
              font-size: 30px;
            }
          }
          .view-count {
            font-size: 24px;
            color: #999;
          }
          .status-action {
            display: flex;
            justify-content: center;
            flex: 1;
            font-size: 28px;
          }
        }
      }
    }
  }
}
