@import "../../styles/theme.scss";

.profile {
  width: 100%;
  background-color: $greyBg;

  .profile-header {
    height: 108px;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    background-color: $baseColor;

    .image {
      height: 108px;
      width: 108px;
      border-radius: 50%;
    }

    .name {
      padding-left: 20px;
      font-size: 40px;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: bold;
    }

    .description {
      color: #fff;
      font-size: 28px;
      padding-left: 20px;
    }
  }

  .operation-list {
    background-color: #ffffff;
    margin: 40px 20px 0;
    border-radius: 20px;
  }
}
