@import "../../styles/theme.scss";

.get-auth{
  display: block;
  button {
    background-color: $baseColor;
    border-color: $baseColor;
    color: white;
    margin: 20px auto;
  }
  .get-auth-text{
    margin: 20px auto 50px;
    display: block;
    text-align: center;
  }
}
