@import "../../../../styles/theme.scss";

.item {
  padding: 20px;
  display: flex;
  flex-direction: row;
  //align-items: center;
  .cover {
    width: 230px;
    height: 230px;
    border-radius: 20px;
    margin-right: 20px;
  }
  .defaultCover {
    background-color: #f1f1f1;
  }

  .info {
    flex: 1;
    .price {
      color: red;
      .priceUnit {
        font-size: 20px;
      }
      margin-bottom: 6px;
      margin-top: 5px;
    }
    .readCount {
      font-size: 24px;
      color: $grey;
    }
  }
}


