@import "./theme.scss";
$color-brand: $baseColor;
@import "~taro-ui/dist/style/index.scss";

.at-input {
  margin: 0;
}
.at-textarea {
  border: 0 solid $borderColor;
  border-bottom-width: 1PX;
  padding-left: 0;
}

.at-switch.exchange-switch {
  height: 72.8px;
  margin-left: 0;
  padding: 0 32px;
  .at-switch__title {
    color: #101010;
    font-size: 32px;
  }
}

.at-search-bar{
  background-color: transparent;
  &:after{
    border:0;
  }
}
