@import "./theme.scss";
$color-brand: $baseColor;
@import "~taro-ui/dist/style/index.scss";

.at-input {
  margin: 0;
}
.at-textarea {
  border: 0 solid $borderColor;
  border-bottom-width: 1PX;
  padding-left: 0;
}



