@import "./theme.scss";

//发布信息
.at-input {
  margin: 0;
}
.at-textarea {
  border: 0 solid $borderColor;
  border-bottom-width: 1PX;
  padding-left: 0;
}
.at-input__children text{
  color: $baseColor;
}
.at-button--normal {
  background-color: $baseColor;
  border-color: $baseColor;
  color: white;
}
//发布信息 end

