@import "../../../styles/theme.scss";

.publish_info {
  width:100%;
  background-color: white;
  .form_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    .form_line_label {
      color: $baseColor;
      width: 30px;
      height: 72.8px;
      line-height: 72.8px;
    }
    .form_line_content {
      &.ios-textarea {
        textarea {
          margin-top: -15px;
          margin-left: -5px;
        }
      }
      flex: 1;
      .at-input {
        margin: 0;
      }
      .at-textarea {
        border: 0 solid $borderColor;
        border-bottom-width: 1PX;
        padding-left: 0;
      }

      .textarea--text {
        box-sizing: border-box;
        padding: 18px 18px 18px 0;
        width: 100%;
        font-size: 32px;
        line-height: 1.2;

        .textarea--detail {
          height: 260px;
          overflow: auto;
          word-break: break-all;
        }
        .textarea--detail__placeholder {
          color:#808080;
          opacity: .5;
        }
        .textarea--text__counter {
          padding-top: 12px;
          width: 100%;
          color: #C9C9C9;
          font-size: 28px;
          text-align: right;
          line-height: 1;
        }
      }
    }
    .price_symbol {
      color: $baseColor;
    }
  }
  .form_textarea {
    // height: 336px;
    border-bottom: 1PX solid $borderColor;
    overflow: auto;
    text {
      display: block;
    }
    .form_textarea_conteng{
      color:$inputColor;
      padding:18px;
      padding-left:0;
      line-height: 1.2;
      font-size: 32px;
    }
    .form_textarea_placeholder{
      line-height: 72.8px;
      color:#808080;
      opacity: .5;
    }
  }
}


