@import "../../../styles/theme.scss";

page {
  height: 100%;
  overflow: hidden;
}

.contact {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contact-list {
  height: calc(100% - 93px);
  width: 100%;
  overflow-y: auto;

  .no-contacts {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-item {
    min-height: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bbbbbb;
    font-size: 32px;

    &:not(:last-of-type) {
      border-bottom: none;
    }

    .left-container {
      display: flex;
      align-items: center;

      width: calc(100% - 100px);
      .label {
        margin-left: 20px;
        width: 150px;
        word-wrap: break-word;
        display: inline-block;
      }

      .content {
        margin-left: 10px;
        display: inline-block;
        width: 450px;
        word-wrap: break-word;
      }
    }

    .delete-btn {
      margin-right: 20px;
      color: $baseColor;
    }
  }

  .add_btn {
    margin-top: 20px;
  }
}
