@import "../../../styles/theme.scss";

.category {
  width:100%;
  background-color: white;
  .form_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    .form_line_required {
      color: $baseColor;
      width: 30px;
      height: 72.8px;
      line-height: 72.8px;
    }

    .form_line_label {
      color: #101010;
      width: 80px;
      height: 72.8px;
      line-height: 72.8px;
      margin-left: 10px;
    }

    .form_line_content {
      height: 72.8px;
      line-height: 72.8px;
      margin-right: 20px;

      .picker {
        color: #999898;
        display: flex;
        justify-content: center;
        align-items: center;

        .right-container {
          display: flex;
        }

        .category {
          margin-right: 10px;
        }

        .at-icon {
          display: block;
        }
      }
    }
  }
}
