@import "../../styles/theme.scss";

.form_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  .form_line_label {
    color: $baseColor;
    width: 30px;
  }
  .form_line_content {
    flex: 1;
    .at-input {
      margin: 0;
    }
    .at-textarea {
      border: 0 solid $borderColor;
      border-bottom-width: 1PX;
    }
  }
}
