@import "../../styles/theme.scss";

.publish {
  .form_btn{
    width: calc(100% - 20px);
    margin: 30px auto;
    .at-button--normal {
      background-color: $baseColor;
      border-color: $baseColor;
      color: white;
    }
  }
}
