@import "../../styles/theme.scss";
page {
  height: 100%;
}

.index {
  flex-direction: column;
  height: calc(100% - 85px);
  width:100%;

  .category {
    color: #020202;
    font-size: 32px;
    font-weight: bold;
    width:100%;
    padding:0 20px;
    box-sizing: border-box;

    &:after {
      display: block;
      content: "";
      width: 40px;
      height: 0;
      border: 4px solid $baseColor;
      border-radius: 500px;
      align-items: center;
      margin-left: 26px;
      margin-top: 10px;
    }
  }

  .no-goods {
    height: calc(100% - 230px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: calc(100% - 230px);
    overflow: scroll;
    padding:0 20px;
    box-sizing: border-box;

    .list-item {
      margin-top: 10px;
      width: calc(50% - 10px);

      &:nth-child(even) {
        margin-left: 10px;
      }

      .goods-image {
        width: 100%;
        height: 272px;
        overflow: hidden;
        display: flex;
        align-items: center;
        image {
          width:100%;
        }
      }

      .goods-name {
        margin-left: 10px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        font-size: 26px;
        color: #101010;
        font-weight: bold;
      }

      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: 10px;

        .goods-price {
          color: $baseColor;
          font-size: 28px;
          font-weight: bold;

          .unit {
            font-size: 24px;
          }
        }

        .goods-tag {
          display: block;
          text-align: center;
          width: 104px;
          height: 34px;
          background-color: #ffe8e8;
          color: #e51c23;
          font-size: 22px;
        }
      }

      .user-info {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 10px;

        .at-avatar {
          width: 52px;
          height: 52px;
        }

        .name {
          color: $fontGray;
          font-size: 24px;
          margin-left: 10px;
        }
      }
    }
  }
}
