@import "../../styles/theme.scss";

.category {
  width:100%;
  background-color: white;

  .right-container {
    display: flex;
  }

  .category {
    margin-right: 10px;
  }

  .at-icon {
    display: block;
  }

  .radio-layout-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .category-radio-confirm {
    width: 80px;
  }
}
