@import "../../styles/theme.scss";

.floatBody{
  position: fixed;
  width:100%;
  height: 100%;
  border-top: 1PX solid $borderColor;
  display: flex;
  background-color: rgba(0,0,0,.3);
  flex-direction: column;
  left:0;
  z-index: 99999;
  .floatContent {
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 30px;
    padding: 10px 20px;
    box-sizing: border-box;
    .errorBody{
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .shadow {
    flex: 1;
    height: 100%;
  }
}
:global {
  .fullScreen{
    height: 100%;
  }
}
