@import "../../styles/theme.scss";

.publish-location {
  display: flex;
  background-color: white;
  margin-bottom: 30px;
  padding: 0 20px 20px;

  .location-wrapper {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #dcdcdc;

    .text {
      margin: 2px 5px 0;
      font-size: 24px;
    }
  }

  &.unknown-location {
    .location-wrapper {
      border: 1px solid $baseColor;
    }

    .text {
      color: $baseColor;
    }
  }
}
