@import "../../styles/theme.scss";

.publish-location {
  display: flex;
  background-color: white;
  margin-bottom: 30px;
  padding: 0 20px 20px;

  .location-wrapper {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #dcdcdc;

    .text {
      margin-top: 2px;
      margin-left: 5px;
      font-size: 24px;
    }
  }
}
