@import "../../../../styles/theme.scss";

.contact {
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .contact-title {
    margin: 20px auto 50px;
    text-align: center;
    font-size: 32px;
  }
  .contact-default {
    text-align: center;
    font-size: 36px;
  }
  .contact-item {
    font-size: 36px;
    margin: 10px 0;
  }
  .contact-btn {
    width: 200px;
    margin: 50px 0;
  }
}
