@import "../../../styles/theme.scss";

.categorySection{
  width:100%;
  padding:6px 0;
  margin-top:20px;
  .categoryBody{
    height: 340px;
    .categoryContent{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      .categoryItem{
        width:20%;
        display: inline-flex;
      }

    }
  }
}
