@import "../../../../styles/theme.scss";

.exchangeable-goods {
  .header {
    > .title {
      text-align: center;
    }
  }
  .list {
    min-height: 500px;
    max-height: 660px;
    overflow-y: scroll;
  }
  .footer {
    margin-top: 4px;
  }
}
