@import "../../../../styles/theme.scss";

.exchangeable-goods {
  .header {
    position: relative;
    > .title {
      text-align: center;
    }
    > .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .list {
    min-height: 500px;
    max-height: 680px;
    overflow-y: scroll;
  }
}
